body{
	background-color: #EEE;
	font-family: Helvetica, Arial, san-serif;
}

a {
	text-decoration: none;
	color: red;
}

h4 {
	text-align: center;
}

h1, h2, h3{
	/* margin: 0; */
}

#container {
     background-color: white;
	 width: 800px;
	 margin-left: auto;
	 margin-right: auto;
	
}

#header {
	background-color: #66CCFF;
	color: white;
	text-align: center;
	padding: 10px;
}

#content{
   padding: 10px;
}

#nav{
   width: 180px;
   float: left;
   margin: 2px solid grey;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav .selected{
	font-weight: bold;
}

#main{
   width: 600px;
   float: right;
}

#footer{
   clear: both;
   padding: 10px;
   background-color: #999999;
   color: white;
   text-align: right;
}


body { font-size: 62.5%; }
label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }








/* SYTLING BUTTONS     */

.btn {
  background: #b2d136;
  background-image: -webkit-linear-gradient(top, #b2d136, #2980b9);
  background-image: -moz-linear-gradient(top, #b2d136, #2980b9);
  background-image: -ms-linear-gradient(top, #b2d136, #2980b9);
  background-image: -o-linear-gradient(top, #b2d136, #2980b9);
  background-image: linear-gradient(to bottom, #b2d136, #2980b9);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 11px;
  padding: 5px 12px 3px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #3c99fc;
  background-image: -webkit-linear-gradient(top, #3c99fc, #d97634);
  background-image: -moz-linear-gradient(top, #3c99fc, #d97634);
  background-image: -ms-linear-gradient(top, #3c99fc, #d97634);
  background-image: -o-linear-gradient(top, #3c99fc, #d97634);
  background-image: linear-gradient(to bottom, #3c99fc, #d97634);
  text-decoration: none;
}

































































































