<html>
	<head>
		<title> Eventual Consistency </title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1> Simulation Framework for Eventual Consistency </h1>
			</div>
			
			<div id="content"> 
				<div id="nav">
					<h3> Navigation </h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="network.html">Network</a></li>
						<li><a class="selected" href="device.html">Device</a></li>
						<li><a href="#">Logs</a></li>
					</ul>	
				</div>
				
				<div id="main">
					<h2>Device page</h2>
					<button class="btn"> Add Device </button>
					<button class="btn"> Remove Device </button>
					<p> </p>

				</div>
				
			</div>
			
			<div id="footer">
				Copyright &copy; 2015 Darlington Nwambo
			</div>
		
		</div>
	</body>
</html

































































































