<html>
	<head>
		<title> Eventual Consistency </title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<link rel="stylesheet" href="style.css">
		
		 <script src="mainController.js"></script>
		 
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1> Simulation Framework for Eventual Consistency </h1>
			</div>
			
			<div id="content"> 
				<div id="nav">
					<h3> Navigation </h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="network.html">Network</a></li>
						<li><a href="device.html">Device</a></li>
						<li><a class="selected" href="networkdevices.html">Network Devices</a></li>
						<li><a href="application.html">Application</a></li>
					</ul>	
				</div>
				
				<div id="main">
					<h2>Network-Device page</h2>
					
					
					
					<p></p>
					<div id="users-contain" class="ui-widget">
					  <h4>Connected Network Devices:</h4>
					  <div id="connecteddevice-table">
					  
					  </div>
				    </div>
					  
					
					<p> </p>

				</div>
				
			</div>
			
			<div id="footer">
				Copyright &copy; 2015 Darlington Nwambo
			</div>
		
		</div>
	</body>
</html>

































































































